body{
    font-family: roboto; 
}

.formContainer{
    background-color: rgb(66, 112, 151);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;  
        align-items: center; 

        .logo{
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
            
        }

        .title{
            color: #5d5b8d;
            font-size: 12px;
        }

        form{
           display: flex;
           flex-direction: column;
           gap: 15px;
           
           input{
            padding: 15px;
            border: none;
            width: 250px;
            border-bottom: #a7bcff;

            &::placeholder{
                color: rgb(175, 175, 175);
            }
           }

           button{
            background-color: #4c71e8;
            color: white;
            padding: 10px;
            font-weight: bold;
            border: none;
            cursor: pointer;
           }
        }

        p{
            color: #0d34b5;
            font-size: 12px;
        }
    }
}

label{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(151, 144, 144);
    font-size: 12px;
    cursor: pointer;
}

img{
    width: 32px;
}
